#app-settings-pane {
    border: solid $primary;
    padding: 1;
    height: auto;
}

#header {
    margin: 1;
}

Label {
    margin-left: 1;
}

#save-app-settings-btn {
    margin-left: 1;
    margin-right: 1;
}
