#host-panel {
    border: round $accent;
    color: white;
    padding: 1;
    margin: 1;
    height: 10;
}

#server-panel-container {
    width: 100%;
    height: 2fr;
    align: center top;
    border: round $accent;
    padding: 1;
    margin: 1;
}