#dashboard-content {
    width: 100%;
    height: 1fr;
}

#host-summary-row {
    height: auto;
}

#host-panel,
#host-panel-details {
    width: 1fr;
    border: round $accent;
    color: white;
    padding: 1 2;
    margin: 0 1;
    height: 11;
}

#server-panel-container {
    width: 100%;
    height: 1fr;
    min-height: 8;
    max-height: 45%;
    align: center top;
    border: round $accent;
    padding: 1;
    margin: 0 1;
}

#server-panel {
    width: 100%;
    height: 1fr;
}