.host-label {
    text-style: bold;
    margin: 0 0 1 0;
}

#metrics .metric,
#host-details-metrics .metric {
    height: auto;
}

#metrics .labels,
#host-details-metrics .labels {
    width: 10;
    height: 1;
}

#metrics .progress-bar {
    width: auto;
}

#host-details-metrics Static {
    width: 1fr;
    height: auto;
}