Screen {
    layout: vertical;
}

#host_panel {
    border: round $primary;
    height: auto;
    padding: 1;
}

DataTable {
    border: round $secondary;
    height: auto;
}

#alerts {
    border: round $error;
    height: auto;
}